* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modalBtn {
    background-color: #0b90e9;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#modalBtn:hover {
    opacity: 0.9;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translate(-50%, -50%);
    animation: slide_in 4s, slide_out 4s;
}

#closeBtn {
    background-color: #db2c0e;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#closeBtn:hover {
    opacity: 0.9;
}

.modal-header {
    border-bottom: 2px solid #f4f4f4;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.modal-header h3,
.modal-header #closeBtn {
    margin-bottom: 15px;
}

.modal-body {
    border-bottom: 2px solid #f4f4f4;
}

.modal-body p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    display: none;
}

#modal.open {
    display: block;
}

@keyframes slide_in {
    from {
        transform: translate(-50%, -50%);
        display: none;
    }
    to {
        transform: translate(-50%, 0);
        display: block;
    }
}

@keyframes slide_out {
    form {
        transform: translate(0);
        display: block;
    }
    to {
        transform: translate(-50%, -50%);
        display: none;
    }
}
